<% provide(:title, 'Privacy policy') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
<body>
    <h1>Privacy Policy</h1>
	<p></p>
  </body>
</html>

